<header id="header">
        <div class="container">
    
            <div class="navbar-header">
                <!-- Logo -->
                <div class="navbar-brand">
                    <a class="logo" href="index.html">
                        <img src="../../assets/img/logo.png" alt="logo">
                    </a>
                </div>
                <!-- /Logo -->
    
                <!-- Mobile toggle -->
                <button class="navbar-toggle">
                    <span></span>
                </button>
                <!-- /Mobile toggle -->
            </div>
    
            <!-- Navigation -->
            <nav id="nav">
                <ul class="main-menu nav navbar-nav navbar-right">
                    <li><a href="/adminhome">Home</a></li>
                    <li><a href="#">Approve Students</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Drives
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="/adddrive">Add Drive</a></li>
                          <li><a href="/managedrive">Manage Drive</a></li>
                        </ul>
                      </li>
                    <li><a href="#">Applied Students</a></li>
                    <li><a href="#">Placed Students</a></li>
                </ul>
            </nav>
            <!-- /Navigation -->
    
        </div>
    </header>
