<app-header></app-header>

<!-- Hero-area -->
<div class="hero-area section">

    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(../../assets/img/page-background.jpg)"></div>
    <!-- /Backgound Image -->

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <ul class="hero-area-tree">
                    <li><a href="/">Home</a></li>
                    <li>Admin</li>
                </ul>
                <h1 class="white-text">Get Placed</h1>

            </div>
        </div>
    </div>

</div>
<!-- /Hero-area -->

<!-- Contact -->
<div id="contact" class="section">

    <!-- container -->
    <div class="container" >

        <!-- row -->
        <div class="row">
            <div class="col-md-4"></div>
            <!-- contact form -->
            <div class="col-md-6">
                <div class="contact-form">
                    <h4>Login</h4>
                    
                </div>
            </div>
            <!-- /contact form -->

        </div>
        <!-- /row -->
    </div>
</div>


<app-adminfooter></app-adminfooter>